.heading {
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
}
.card {
	box-shadow: 2px 7px 12px -2px rgba(0, 0, 0, 0.1);
}
.logoContainer {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.logo {
	height: 120px;
	width: 120px;
	background: #c6ddf7;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo span {
	font-size: 40px;
	font-weight: bold;
}
.card-title {
	font-weight: bold !important;
}

.button {
	margin-top: 20px;
	width: 80%;
	background: #28a745 !important;
	letter-spacing: 0.2px;
	border: none !important;
}
